article{
  display: flex;
  padding: 2em;
}
.movie-poster{
  padding: 1em;
}
.movie-poster img{
  width: 300px;
}
.movie-card{
  font-size: 1.5em;
}
.rating {
  float: right;
  font-size: larger;
  text-align: center;
  position: relative;
  padding: 1rem;
  margin-left: 3rem;
  border-radius: 50%;
  border: 3px solid #c62828;
  width: 50px;
  height: 50px;
 
}
.about img{
  width: 100px;
}
