@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #ff0042;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ff0042;
}
.content {
  width: 90%;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #ff0042;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ff0042;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*Not Found*/
.not-found img,.section--image{
  width: 100%;
}
.not-found main{
 display: flex;
}
.not-found h2, .section--p{
  margin-bottom: 1em;
  margin-top: 1em;
}
/*FEATURED*/
.category-container{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill,minmax(10em,1fr));
}
.movie-preview, .tv-preview{
  max-width: 15%;
  margin: 1em;
}
.movie-preview img, .tv-preview img{
  height: 270px;
  width: 180px;
}
.movie-preview a{
  text-decoration: none;
}

.search-box{
  float: right;
  width: 30%;
}
.search-box input{
  padding: 5px;
  width: 100%;
}

/**/

.genre-container{
  display: flex;
  flex-wrap: wrap;
}
.genre-preview{
  width: 20%;
  margin: 1em;
}

.about{
  width: 75%;
  font-size: 1.5em;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .search-box{
    display: contents;
  }
  .genre-container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill,minmax(10em,1fr));
  }
}
