@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.content {
  width: 90%;
  padding: 20px;
}
.topnav h1{
  color: #003488;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #ff0042;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #ff0042;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ff0042;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*Not Found*/
.not-found img,.section--image{
  width: 100%;
}
.not-found main{
 display: flex;
}
.not-found h2, .section--p{
  margin-bottom: 1em;
  margin-top: 1em;
}
/*FEATURED*/
.category-container{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill,minmax(10em,1fr));
}
.movie-preview, .tv-preview{
  max-width: 15%;
  margin: 1em;
}
.movie-preview img, .tv-preview img{
  height: 250px;
  width: 170px;
}
.movie-preview a, .tv-preview a, .genre-preview a{
  text-decoration: none;
}
.movie-preview p{
  overflow-wrap: break-word;
  width: 180px;
}

.search-box{
  float: right;
  width: 30%;
}
.search-box input{
  padding: 5px;
  width: 100%;
}

/**/

.genre-container{
  display: flex;
  flex-wrap: wrap;
}
.genre-preview{
  width: 20%;
  margin: 1em;
}

.about{
  width: 75%;
  font-size: 1.5em;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .search-box{
    display: contents;
  }
  .genre-container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill,minmax(10em,1fr));
  }
}

/*NAV*/

.topnav {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  background-color: #eee;
  width: 100%;

}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ddd;
  color: black;
}
.topnav .logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 7px 10px 3px 10px;
  margin-top: 2px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .logo img {
  width: 30px;
  height: auto;
}
.topnav .logo:hover {
  background: transparent;
}
.topnav button {
  display: none;
}

.container {
  padding: 0px 10px;
}
.links{
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav button.icon {
    background: #d8d8d8;
    float: right;
    display: block;
    padding: 16px 17px;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  button.icon:focus, button.icon:hover {
    border: 0;
    outline: none;
    background: #b3b3b3;
  }
}
@media screen and (max-width: 600px) {

  main{
    flex-direction: column-reverse;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .links{
    float: inherit;
  }
}
.home, .tv-shows, .about, .not-found{
  margin-top: 47px;
}
footer{
  padding: 1em;
  margin: auto;
  text-align: center;
}
.loaders{
  height: 90vh;
  width: 100%;
  margin: auto;
}